
<%= link_to "home", root_path %>

<h2>vehicles</h2>
<ul>
<% @vehicles.each do |vehicle| %>
    <li><%= link_to vehicle.name, vehicle %></li>
<% end %>
</ul>

<br />

<%= link_to 'Add Vehicle', new_vehicle_path %>
